@use "../variables" as v;
@use "../mixin" as m;

// unit testing pages area
.page-area{

    
    padding-top: 190px;
    padding-bottom: 175px;


    .page-content{
        p{
            margin: 0 0 15px;
            color: v.$gray-800;
            font-weight: 500;

            a{
                color: v.$primary-color;
            }
        }

        ol{
            li{
                font-weight: 500;
                
                a{
                    color: v.$primary-color;
                }
            }
        }
    }
}